.box {
    border: 1px solid black;
    border-radius: 40px;
    height: 250px;
}

.row1 {
    border: 1px solid black;
    height: 20%;
    display: flex;
    flex-direction: row;
}

.name {
    flex-grow: 1;
    border-right: 1px solid;
    width: 45%;
    margin: auto;
}

.company {
flex-grow: 1;
width: 45%;
margin: auto;
}

div.row2 {
    border: 1px solid black;
    height: 20%;
    display: flex;
}

.phone {
    flex-grow: 1;
    border-right: 1px solid;
}

.email {
    flex-grow: 1;
    border-right: 1px solid;
}

.availability {
    flex-grow: 1;
}

div.row3 {
    border: 1px solid black;
    height: 20%;
    display: flex;
}

.skills {
    flex-grow: 1;
    border-right: 1px solid;
}

.experience {
    flex-grow: 1;
    border-right: 1px solid;
}

.favcolor {
    flex-grow: 1;
    border-right: 1px solid;
}

.language {
    flex-grow: 1;
}

.button {
    text-align: center;
}
